:root {
    --blue: rgb(5, 102, 141);
    --white: rgb(248, 248, 255);
    --yellow: rgb(240, 243, 189);
    --green: rgb(2, 195, 154);
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
}

button {
    outline: none;
    border: 4px solid var(--green);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: var(--green);
    color: white;
}

h2 {
    margin: 0 auto;
    font-size: 35px;
    margin: 10px;
}

.container {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #eee;
  }

.flex-column {
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
}

.square {
    border: 2px solid rgb(8, 8, 8);
    height: 144px;
    width: 140px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border: 5px solid rgba(0, 0, 0, .75);
    height: 140px;
    width: 50px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-0,
#box-1,
#box-2 {
    border-top: none;
}

#box-0,
#box-3,
#box-6 {
    border-left: none;
}

#box-6,
#box-7,
#box-8 {
    border-bottom: none;
}

#box-2,
#box-5,
#box-8 {
    border-right: none;
}

/* #reset-button {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 55px;
    width: 100px;
    margin: 10px;
} */

